@import "./theme.css";
@import "./utility.css";

body {
  font-family: Arial, Helvetica, sans-serif;
}

section {
  padding: 3rem;

  @media screen and (max-width: 1024px) {
    padding: 2rem 3vw;
  }
}